
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}


:root {
  --button: #6477b6;
  --text: #1a2028;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 1rem;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
}














