<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ocean</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./index.css" />

    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <secction class="main">
      <section>
        <header>
          <div class="container">
            <div class="d-flex">
              <a href="/">
                <img src="../assets/logo.svg" alt="Imagem da logo Ocean" />
              </a>
              <ul>
                <li>
                  <a href="/"> Sobre </a>
                </li>
                <li>
                  <a href="/">Serviços</a>
                </li>
                <li>
                  <a href="/">Contatos</a>
                </li>
              </ul>
            </div>
          </div>
        </header>
      </section>

      <section class="intro">
        <div class="container">
          <div class="d-grid">
            <div class="wrapper_container_main">
              <p class="text_title">Organização de planilhas na palma da sua mão</p>
              <p class="text_intro">O App desenvolvido para aqueles que tentam ser organizados envolvendo planilhas. Agora é mais fácil.</p>
              <button class="blue"><p>Fale conosco</p></button>
              <button class="white"><p>Saiba mais</p></button>
            </div>
            <img src="../assets/Illustration-hero.svg" alt="" />
          </div>
          <div class="brands">
            <img src="../assets/intelbras.svg" alt="" />
            <img src="../assets/sony.svg" alt="" />
            <img src="../assets/nike.svg" alt="" />
            <img src="../assets/pepsi.svg" alt="" />
            <img src="../assets/rihappy.svg" alt="" />
          </div>
        </div>
      </section>
    </secction>

    <section class="services">
      <section class="services_main">
        <div class="container">
          <div class="intens_container">
            <p class="title_services">SERVIÇOS</p>
            <p class="title_intro">Inovação, criatividade, tecnologia e perfomance</p>
            <p class="title_info">
              Aqui nós mantemos livremente o seu pacote, de acordo com a sua necessidade e com a sua verba. Afinal, nossos produtos atendem demandas de todos os portes.
            </p>
          </div>
        </div>
        <div class="container">
          <div class="cards">
            <div class="card">
              <div class="card_img">
                <img src="../assets/midia.svg" alt="" />
              </div>
              <div class="text_card">
                <p>Midia de Performace</p>
              </div>
            </div>
            <div class="card">
              <div class="card_img">
                <img src="../assets/Vector.svg" alt="" />
              </div>
              <div class="text_card">
                <p>Inbound marketing</p>
              </div>
            </div>
            <div class="card">
              <div class="card_img">
                <img src="../assets/email.svg" alt="" />
              </div>
              <div class="text_card">
                <p>E-mail marketing</p>
              </div>
            </div>
            <div class="card">
              <div class="card_img">
                <img src="../assets/design.svg" alt="" />
              </div>
              <div class="text_card">
                <p>Criação e design</p>
              </div>
            </div>
          </div>
          <div class="button_services">
            <button class="button_service_blue"><p>Faça um orçamento</p></button>
          </div>
        </div>
      </section>
    </section>
    <section class="about">
      <div class="container">
        <div class="d-grid">
          <div class="wrapper_imgs">
            <img src="../assets/face 1.svg" alt="" />
            <img src="../assets/face 2.svg" alt="" />
            <img src="../assets/face 3.svg" alt="" />
            <img src="../assets/face 4.svg" alt="" />
            <img src="../assets/face 5.svg" alt="" />
            <img src="../assets/face 6.svg" alt="" />
            <img src="../assets/face 7.svg" alt="" />
            <img src="../assets/face 8.svg" alt="" />
          </div>
          <div class="text_container_about">
            <p class="text1">SOBRE NÓS</p>
            <p class="text2">Mais de 150 clientes confiam na gente</p>
            <p class="text3">
              Nós da Ocean, temos o propósito de acelerar o crescimento das empresas através de marketing digital, e fazemos isso com uma abordagem focada no desenvolvimento da
              jornada de marketing e vendas dos negócios.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
