/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.colored_button {
  background-color: var(--purple);

  height: 40px;
  padding: 0 25px;

  border: none;
  border-radius: 3px;
  outline: none;

  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
  margin-right: 10px;

  transition: all 0.2s ease;
  cursor: pointer;
}

.colored_button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 4px 10px rgba(100, 119, 182, 0.3));
}

.white_button {
  background-color: white;

  height: 40px;
  padding: 0 25px;

  border: 1px solid var(--text);
  border-radius: 3px;
  outline: none;

  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text);
  margin-right: 10px;

  transition: all 0.2s ease;
  cursor: pointer;
}

.white_button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 4px 30px rgba(26, 32, 40, 0.1));
}

:root {
  font-size: 62.5%; /* 1 rem = 10px */
  --text: #1a2028;
  --text-secondary: #ebebeb;

  --gray: #fbfbfb;

  --purple: #6477b6;
  --purple-secondary: #f2f5ff;
}

.container {
  max-width: 1650px;

  margin: 0 auto;
  padding: 0 10px;
}

body,
button {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

/* Styles */
header {
  width: 100%;

  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03);

  padding: 25px 0px;

  position: fixed;

  z-index: 1;
}

header .flex {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin-left: 30px;
  font-size: 1.5rem;

  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: var(--purple);
}

#home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  height: calc(100vh - 51px - 37px);
}

.home_text h1 {
  font-size: 6.0625rem;
  font-weight: 400;

  max-width: 650px;
  line-height: 78.33px;
}

.home_text p {
  font-size: 1.55rem;
  max-width: 550px;
  margin: 30px 0px;
}

#sponsors {
  width: 100%;
}

#sponsors div div {
  margin: 0 auto;
  transition: all 0.2s ease;
}

#sponsors div div:hover {
  opacity: 0.9;
}

#sponsors .flex {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#services {
  margin-top: 100px;
}

#services h3 {
  opacity: 0.43;
  font-size: 1.5rem;
  font-weight: 500;
}

#services h1 {
  font-size: 55px;
  max-width: 700px;
  color: var(--text);

  font-weight: normal;
  line-height: 120.5%;
}

#services p {
  font-size: 1.5rem;
  max-width: 650px;

  margin: 30px 0;
}

#services .card {
  background: var(--purple-secondary);
  margin: 10px 20px 20px 0px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 30px 20px;

  width: 15.25rem;
  min-height: 13.6875rem;
}

#services .card img {
  margin-right: auto;
}

#services .flex {
  flex-wrap: wrap;
}

#services .card p {
  margin: 50px 0px 0px 0px;
  font-size: 1.3rem;
}

#services button {
  margin-top: 30px;
}

#about {
  margin: 100px 0 30px 0;
}

.about_text {
  margin-left: 100px;
}

.about_text h3 {
  opacity: 0.43;
  font-size: 1.5rem;
  font-weight: 500;
}

.about_text h1 {
  font-size: 55px;
  max-width: 700px;
  color: var(--text);

  font-weight: normal;
  line-height: 120.5%;
}

.about_text p {
  font-size: 1.5rem;
  max-width: 650px;

  margin: 30px 0;
}

.about_text p:last-child,
.about_text p:last-child span {
  color: var(--purple);
  cursor: pointer;
  transition: all 0.2s ease;
}

.about_text p:last-child:hover span {
  padding-left: 15px;
}

/* Responsive */
@media (max-width: 990px) {
  .home_image {
    display: none;
  }

  #home {
    height: 100vh;
  }

  .home_text h1 {
    font-size: 3.0625rem;
    font-weight: 400;

    max-width: 300px;
    margin: 0 auto;

    text-align: center;
    line-height: 38.33px;
  }

  #services h1 {
    font-size: 3.0625rem;
  }

  #home .flex {
    justify-content: center;
    text-align: center;
  }

  .about_image {
    display: none;
  }

  .about_text {
    margin-left: 0;
  }

  .about_text h1 {
    font-size: 3.0625rem;
    font-weight: 400;

    max-width: 300px;
    line-height: 38.33px;
  }

  #sponsors {
    display: none;
  }
}
